.intro-screen.collapse.in
  .animation
    #tara.left.fancy Tara
    #reynvaan.right.fancy Reynvaan
 
  .intro.collapse
    .fancy A Canon
    .fancy A lens
    .fancy A unique vision
    .fancy.fancier A photographer
    -#.btn.btn-success#enter ENTER
.main.hide
  .side-nav
    .fancy.fancier STILL IMAGES
    - i = 0
    - @albums.each do |album|
      .br
      .side-nav-link-block
        .side-nav-link
          - if i == 0
            %a.album-link.current= album.title
            - i = i + 1
          - else
            %a.album-link= album.title  

  .album.collapse.in

  .carousel.slide#slider
    .carousel-inner
    %a.carousel-control.left{"data-slide" => "prev", :href => "#slider"} ‹
    %a.carousel-control.right{"data-slide" => "next", :href => "#slider"} ›