.ie-fail.hide
  .fail-paragraph
    .fail-header So sorry, but Internet Explorer is not supported.
    = image_tag("chompy.gif", class: "chompy")
  .fail-paragraph
    We recommend you install 
    %a{href: "https://www.google.com/intl/en/chrome/browser/"} google chrome
    for an overall more awesome web experience.

  
    
.intro-screen.collapse.in
  .animation
    #tara.left.fancy TARA
    #reynvaan.right.fancy REYNVAAN
 
  .intro.collapse
    .fancy perfection
    .fancy in
    .fancy pixels
    .fancy.fancier FOTOGRAPHY
    
.main.hide
  .side-nav
    .fancy.fancier#name TARA REYNVAAN
    - i = 0
    - @albums.each do |album|
      .br
      .side-nav-link-block
        .side-nav-link
          - if i == 0
            %a.album-link.current= album.title
            - i = i + 1
          - else
            %a.album-link= album.title 
  .contact
    %a.contact-link ABOUT | CONTACT  

  .album.collapse.in

  .carousel.slide#slider
    .carousel-inner
    %a.carousel-control.left{"data-slide" => "prev", :href => "#slider"} ‹
    %a.carousel-control.right{"data-slide" => "next", :href => "#slider"} ›
.contact-page.hide
  .contact-paragraph
    Homegrown in Bend Oregon, based out of foggy San Fransisco. Tara Reynvaan exited the womb wielding a camera and has been toiling with light ever since.
  .contact-paragraph
    For contract inquires, please email at 
    .fancy-email tarareynvaan@gmail.com
  .contact-paragraph
    #contact-go-back GO BACK