.intro-screen.collapse.in
  .animation
    #tara.left.fancy Tara
    #reynvaan.right.fancy Reynvaan
 
  .intro.collapse
    .fancy A Canon
    .fancy A lens
    .fancy A unique vision
    .fancy.fancier A photographer
    -#.btn.btn-success#enter ENTER
.main.hide
  .side-nav
    .fancy.fancier#name TARA REYNVAAN
    - i = 0
    - @albums.each do |album|
      .br
      .side-nav-link-block
        .side-nav-link
          - if i == 0
            %a.album-link.current= album.title
            - i = i + 1
          - else
            %a.album-link= album.title 
  .contact
    %a.contact-link ABOUT | CONTACT  

  .album.collapse.in

  .carousel.slide#slider
    .carousel-inner
    %a.carousel-control.left{"data-slide" => "prev", :href => "#slider"} ‹
    %a.carousel-control.right{"data-slide" => "next", :href => "#slider"} ›
.contact-page.hide
  .contact-paragraph
    Tara Reynvaan hails from Bend oregon, packing a keen eye and a bodonkadonk.
  .contact-paragraph
    For contract inquires, please email at 
    .fancy-email tarareynvaan@gmail.com
  .contact-paragraph
    #contact-go-back go back