.intro-screen.collapse.in
  .animation
    #tara.left.fancy Tara
    #reynvaan.right.fancy Reynvaan
  %p
  .intro.collapse
    .fancy A Canon
    .fancy A lens
    .fancy A unique vision
    .fancy.fancier A photographer
    .btn.btn-success#enter ENTER
.main.hide
  .side-nav
    .fancy.fancier STILL IMAGES
    - @albums.each do |album|
      .br
      .side-nav-link-block
        .side-nav-link
          %a.album-link= album.title
  .album
    - @current_album.photos.each  do |photo|
      .photo        
        = image_tag(photo.photo.to_s, class: "reynvaan-photo", id: "reynvaan-photo"+photo.id.to_s)
  