// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap"
.hidden
  display: none
body
  background-color: #325DA7
  .fancy
    font-size: 40px
    font-family: "Arial", Helvetica, sans-serif
    font-weight: bold
    color: white
  .fancier
    color: gray
  .right
    float: right
    margin-right: 0
    margin-bottom: 10%
  .left
    float: left
    margin-left: 0
    margin-bottom: 10%
  .main
    background-color: white
  .intro-screen
    background-color: #325DA7
    height: 100%
    .intro
      width: 40%

      margin: 20px auto
      line-height: 40px
      .btn-success
        height: 35px
        width: 100px
        font-size: 25px
        font-weight: bold
        line-height: 20px
        padding-top: 18px
        margin: 40px auto
      .fancier
        margin-top: 10px
    .animation
      margin-top: 10%
      width: 100%
      height: 60%
    